@media only screen and (max-width: 600px) {
    section {
        padding: 0px 10px;
    }
    h2 {
        font-size: 20px;
    }
    .write-article {
        font-size: 12px;
    }
    .article {
        justify-content: space-between;
        margin: 10px 0px;
    }
    .article>:nth-child(1) {
        height: 100px;
    }
    .article>:nth-child(2) {
        font-size: 12px;
    }
    .article>:nth-child(2) h3 {
        margin: 5px 0px;
    }
    .article>:nth-child(2) p {
        margin: 5px 0px;
    }
}
@media only screen and (min-width: 600px) {
    section {
        padding: 0px 50px;
    }
    h2 {
        font-size: 24px;
    }
    .write-article {
        font-size: 14px;
    }
    .article {
        justify-content: space-between;
        margin: 10px 10px;
    }
    .article>:nth-child(1) {
        height: 200px;
    }
}
@media only screen and (min-width: 1200px) {
    .article {
        justify-content: space-evenly;
        padding: 10px 30px;
        margin: 10px 20px;
    }
    h2 {
        font-size: 28px;
    }
    .write-article {
        font-size: 16px;
    }
    .article:hover {
        border-left: 2px solid darkred;
    }
    .article>:nth-child(1) {
        margin: 0px 15px 0px 0px;
    }
    .article>:nth-child(2) {
        margin: 0px 0px 0px 15px;
    }
}

.article {
    display: flex;
    border-left: 2px solid rgba(255, 255, 255, 0);
    transition: 0.7s;
}
  
.article>:nth-child(1) {
    width: 30%;
}
  
.article>:nth-child(2) {
    width: 65%;
    box-sizing: border-box;
}

.article-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid transparent;
    border-radius: 10px;
    box-sizing: border-box;
    transition: border-radius 1s, transform 1s;
}
  
.article-image:hover {
    transform: scale(0.95);
    cursor: pointer;
}
  
h3 {
    color: rgb(64, 80, 100);
    transition: 0.7s;
}
  
h3:hover {
    padding-left: 5px;
    cursor: pointer;
}

.link-style {
    color: darkred;
    font-weight: bold;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: 0.7s;
}
  
.link-style:hover {
    border-color: darkred;
}

.write-article a {
    text-decoration: underline;
    color: darkgreen;
    cursor: pointer;
    transition: 0.7s;
}
  
.write-article a:hover {
    color: darkred;
}