<section *ngIf="loginForm">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div>
            <label for="username">
            <p>Username</p>
            <input type="text" id="username" formControlName="username" placeholder="Your username" />
            </label>
            <label for="password">
            <p>Password</p>
            <input type="password" id="password" formControlName="password" placeholder="Your password" />
            </label><br />
            <p *ngIf="errorMsg" class="errorInfo">{{errorMsg}}</p>
        </div>
        <div>
            <button *ngIf="!loginForm.valid" id="login" type="button" disabled="true">Login</button>
            <button *ngIf="loginForm.valid" id="login-valid" type="submit">Login</button>

            <button id="reg" type="button" [routerLink]="['../signup']">Signup</button>
        </div>
    </form>
</section>