<section>
    <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
        <div class="fields">
            <div class="field-group">    
                <label for="first-name">
                    <p>First Name</p>
                    <input type="text" id="first-name" formControlName="first-name" placeholder="Enter your first name" />
                </label>
                <label for="last-name">
                    <p>Last Name</p>
                    <input type="text" id="last-name" formControlName="last-name" placeholder="Enter your last name" />
                </label>
                <label for="email">
                    <p>E-mail</p>
                    <input type="email" id="email" formControlName="email" placeholder="example@example.com" />
                </label>
            </div>

            <div class="field-group">
                <label for="username">
                    <p>Username</p>
                    <input type="text" id="username" formControlName="username" placeholder="Enter your username" />
                </label>
                <label for="password">
                    <p>Password</p>
                    <input type="password" id="password" formControlName="password" placeholder="Enter your password" />
                </label>
                <label for="repeat-password">
                    <p>Repeat Password</p>
                    <input type="password" id="repeat-password" formControlName="repeat-password" placeholder="Repeat password" />
                </label>
            </div>
        </div>
        <br />

        <span *ngIf="signupForm.controls['first-name'].status != 'VALID' && !signupForm.controls['first-name'].pristine">
            Please enter your first name!</span>
        <span *ngIf="signupForm.controls['last-name'].status != 'VALID' && !signupForm.controls['last-name'].pristine">
            Please enter your last name!</span>
        <span *ngIf="signupForm.controls['email'].status != 'VALID' && !signupForm.controls['email'].pristine">
            Please enter your email in the correct format!</span>
        <span *ngIf="signupForm.controls['username'].status != 'VALID' && !signupForm.controls['username'].pristine">
            Please enter your username, it needs to be at least 3 characters long!</span>
        <span *ngIf="signupForm.controls['password'].status != 'VALID' && !signupForm.controls['password'].pristine">
            Please enter your password!</span>
        <span *ngIf="signupForm.controls['repeat-password'].status != 'VALID' && !signupForm.controls['repeat-password'].pristine">
            Please repeat your password!</span>
        <span *ngIf="wrongPass">Passwords must be the same!</span>
        
        

        <p class="error-msg" *ngIf="errorMsg">{{errorMsg}}</p>
        <button id="reg" *ngIf="!signupForm.valid" type="button"disabled="true">Signup</button>
        <button id="reg-valid" *ngIf="signupForm.valid" type="submit">Signup</button>
        <button id="login" type="button" [routerLink]="['../login']">Login</button>
    </form>
</section>