<section *ngIf="profileUser">
    <h2>{{profileUser.username}}'s Profile</h2>
    <div class="tabs">
        <p *ngFor="let t of tabs, let i = index">
            <span class="large-tab" (click)="selectTab(i)" [ngStyle]="setActiveTabStyle(0, t[1], i)">{{t[0]}}</span>
            <span class="material-symbols-outlined mobile-tab" (click)="selectTab(i)" [ngStyle]="setActiveTabStyle(1, t[1], i)">{{icons[i]}}</span>
        </p>
        <!--<span class="admin-settings">Admin settings</span>
        <span class="user-settings">User settings</span>
        <span class="articles-tab">Articles</span>
        <span class="comments-tab">Comments</span>-->
    </div>
    <!--<hr />-->
    <div *ngIf="tabs[0][1] && adminLoggedIn && onOwnProfile" class="admin-settings-own">
        <h3>Administrator Settings</h3>
        <!--<span>Help:</span>
        <span>level 0: Administrator</span>
        <span>level 1: Writer</span>
        <span>level 2: Commenter</span>-->
        <div class="settings-cont">
            <div *ngFor="let u of users; let i = index">
                <p><strong class="link-style" (click)="goToUserProfile(u.id)">{{u.username}}</strong>, {{getRole(u.level)}} (level: {{u.level}})</p>
                <p *ngIf="u.level == 3" class="ban-msg">User is banned!</p>
                <div class="buttons-cont">
                    <button *ngIf="u.level > 0" (click)="increaseLevel(u)" class="mod-button-valid">&#60;</button>
                    <button *ngIf="u.level <= 0" (click)="increaseLevel(u)" class="mod-button-invalid">&#60;</button>
                    <button *ngIf="u.level < 2" (click)="decreaseLevel(u)" class="mod-button-valid">&#62;</button>
                    <button *ngIf="u.level >= 2" (click)="decreaseLevel(u)" class="mod-button-invalid">&#62;</button>
                    <button *ngIf="u.level > 0 && u.level < 3" (click)="banUser(u)" class="banBtn">Ban user</button>
                    <button *ngIf="u.level > 0" (click)="deleteUser(u.id)" class="delBtn">Delete user</button>
                </div>
                <hr *ngIf="i < users.length - 1" />
            </div>
        </div>
    </div>
    <!--<hr />-->

    <div *ngIf="tabs[0][1] && adminLoggedIn && !onOwnProfile" class="admin-settings-other">
        <h3>Administrator Settings</h3>
        <div class="settings-cont">
            <!--<p>{{profileUser.username}}, level: {{profileUser.level}}</p>-->
            <p>{{profileUser.username}}, {{getRole(profileUser.level)}} (level: {{profileUser.level}})</p>
            <p *ngIf="profileUser.level == 3" class="ban-msg">User is banned!</p>
            <div class="buttons-cont">
                <!--<button (click)="increaseLevel(profileUser)" class="modBtn"> < </button>
                <button (click)="decreaseLevel(profileUser)" class="modBtn"> > </button>-->
                <button *ngIf="profileUser.level > 0" (click)="increaseLevel(profileUser)" class="mod-button-valid">&#60;</button>
                <button *ngIf="profileUser.level <= 0" (click)="increaseLevel(profileUser)" class="mod-button-invalid">&#60;</button>
                <button *ngIf="profileUser.level < 2" (click)="decreaseLevel(profileUser)" class="mod-button-valid">&#62;</button>
                <button *ngIf="profileUser.level >= 2" (click)="decreaseLevel(profileUser)" class="mod-button-invalid">&#62;</button>
                <button *ngIf="profileUser.level > 0 && profileUser.level < 3" (click)="banUser(profileUser)" class="banBtn">Ban user</button>
                <button *ngIf="profileUser.level > 0" (click)="deleteUser(profileUser.id)" class="delBtn">Delete user</button>
            </div>
        </div>
        <!--<hr />-->
    </div>

    <div *ngIf="tabs[1][1] && onOwnProfile" class="user-settings">
        <h3>User Settings</h3>
        <div *ngIf="!editingUser" class="settings-cont">
            <!--<p>id: {{profileUser.id}}, <br />-->
            <p>username: {{profileUser.username}}, <br />
                firstname: {{profileUser.firstName}}, <br />
                lastname: {{profileUser.lastName}}, <br />
                email: {{profileUser.email}}, <br />
                level: {{profileUser.level}}
                <span class="ban-msg" *ngIf="profileUser.level == 3">--- You are banned from commenting! ---</span>
            </p>

            <button (click)="startEdit()" class="mod-button-valid">Edit</button>
            <button (click)="selfDeleteUser()" class="delBtn">Delete your profile</button>
        </div>

        <div *ngIf="editingUser" class="settings-cont">
            <form [formGroup]="updateForm" (ngSubmit)="updateUser()">
                <div class="fields">
                    <div class="field-group">    
                        <label for="first-name">
                            <p>First Name</p>
                            <input type="text" id="first-name" formControlName="first-name" placeholder="Enter your first name" />
                        </label>
                        <label for="last-name">
                            <p>Last Name</p>
                            <input type="text" id="last-name" formControlName="last-name" placeholder="Enter your last name" />
                        </label>
                        <label for="email">
                            <p>E-mail</p>
                            <input type="email" id="email" formControlName="email" placeholder="example@example.com" />
                        </label>
                    </div>
                    <div class="field-group">
                        <label for="username">
                            <p>Username</p>
                            <input type="text" id="username" formControlName="username" placeholder="Enter your username" />
                        </label>
                        <label for="password">
                            <p>Password</p>
                            <input type="password" id="password" formControlName="password" placeholder="Enter your password" />
                        </label>
                        <label for="repeat-password">
                            <p>Repeat Password</p>
                            <input type="password" id="repeat-password" formControlName="repeat-password" placeholder="Repeat password" />
                        </label>
                    </div>
                </div>
                <br />
        
                <span *ngIf="updateForm.controls['first-name'].status != 'VALID' && !updateForm.controls['first-name'].pristine">
                    Please enter your first name!</span>
                <span *ngIf="updateForm.controls['last-name'].status != 'VALID' && !updateForm.controls['last-name'].pristine">
                    Please enter your last name!</span>
                <span *ngIf="updateForm.controls['email'].status != 'VALID' && !updateForm.controls['email'].pristine">
                    Please enter your email in the correct format!</span>
                <span *ngIf="updateForm.controls['username'].status != 'VALID' && !updateForm.controls['username'].pristine">
                    Please enter your username, it needs to be at least 3 characters long!</span>
                <span *ngIf="updateForm.controls['password'].status != 'VALID' && !updateForm.controls['password'].pristine">
                    Please enter your password!</span>
                <span *ngIf="updateForm.controls['repeat-password'].status != 'VALID' && !updateForm.controls['repeat-password'].pristine">
                    Please repeat your password!</span>
                <span *ngIf="wrongPass">Passwords must be the same!</span>
                
                
        
                <p class="error-msg" *ngIf="errorMsg">{{errorMsg}}</p>
                <div>
                    <button class="mod-button-invalid" *ngIf="!updateForm.valid" type="button" disabled="true">Update</button>
                    <button class="update-button-valid" *ngIf="updateForm.valid" type="submit">Update</button>
                    <button (click)="cancelEdit()" class="delBtn" type="button">Cancel</button>
                </div>
            </form>


            <!--<button (click)="updateUser()" class="mod-button-valid">Update</button>
            <button class="mod-button-invalid">Update</button>
            <button (click)="editingUser = false" class="delBtn" type="button">Cancel</button>-->
        </div>
        <!--<hr />-->
    </div>

    <div *ngIf="tabs[2][1]" class="articles-tab">
        <!--<h3>{{profileUser.username}} articles:</h3>
        <div *ngFor="let a of articles" class="article">
            <div class="article-image" [routerLink]="['../../', a.id]"></div>
            <div>
                <h3 class="article-title" [routerLink]="['../../', a.id]">{{a.title}}</h3>
                <p class="article-category">{{a.category}}, {{transformDate(a.createdDate)}}</p>
                <p class="article-summary">{{a.summary}}</p>
            </div>
        </div>-->
        <h3>Articles</h3>
        <div *ngIf="articles && articles.length > 0">
            <div *ngFor="let a of articles" class="article">
                <div class="article-image" [routerLink]="['../../', a.id]" [ngStyle]="setImageStyle(a.image)"></div>
                <div>
                    <h3 class="article-title" [routerLink]="['../../', a.id]">{{a.title}}</h3>
                    <p class="article-category">
                        <span class="link-style" [routerLink]="['../../category', a.category]">{{a.category}}</span>, 
                        {{transformDate(a.createdDate)}}
                    </p>
                    <p class="article-summary">{{a.summary}}</p>
                </div>
            </div>
        </div>
        <div *ngIf="!articles || articles.length == 0">
            <p class="no-articles-msg">There are no articles written.</p>
        </div>
        <!--<hr />-->
    </div>

    <div *ngIf="tabs[3][1] && maySeeComments" class="comments-tab">
        <!--<h3 *ngIf="maySeeComments">{{profileUser.username}} comments:</h3>-->
        <h3>Comments</h3>

        <app-comments *ngIf="maySeeComments" [user]="profileUser" [inProfile]="true"></app-comments>
    </div>
</section>