<nav id="nav-element-mobile" class="mobile-nav" [ngStyle]="setNavStyle()">
    <span class="material-symbols-outlined" *ngIf="!navMenuOpened" (click)="openMenu()">Menu</span>
    <ul *ngIf="navMenuOpened">
        <li><a (click)="openMenu()">Close Menu [ X ]</a></li>
        <li><a (click)="selectMenuItem('')">Home</a></li>
        <li><a (click)="selectMenuItem('category/Domestic')">Domestic</a></li>
        <li><a (click)="selectMenuItem('category/International')">International</a></li>
        <li><a (click)="selectMenuItem('category/Entertainment')">Entertainment</a></li>
        <li><a (click)="selectMenuItem('category/Sport')">Sport</a></li>
    </ul>
</nav>

<nav id="nav-element-large" class="larger-nav">
    <ul>
        <li><a [routerLink]="['']">Home</a></li>
        <li><a [routerLink]="['category', 'Domestic']">Domestic</a></li>
        <li><a [routerLink]="['category', 'International']">International</a></li>
        <li><a [routerLink]="['category', 'Entertainment']">Entertainment</a></li>
        <li><a [routerLink]="['category', 'Sport']">Sport</a></li>
    </ul>
</nav>