@media only screen and (max-width: 600px) {
    .material-symbols-outlined {
        font-size: 18px;
    }
    section {
        font-size: 12px;
    }
    .no-comments-msg {
        font-size: 12px;
    }
    .banMessage {
        font-size: 12px;
    }
}
@media only screen and (min-width: 600px) {
    .material-symbols-outlined {
        font-size: 24px;
    }
    section {
        font-size: 14px;
    }
    .comment-area {
        margin: 0px 10px;
    }
    .comment-area > div {
        padding: 10px 5px;
    }
    .no-comments-msg {
        font-size: 16px;
    }
    .banMessage {
        font-size: 14px;
    }
}
@media only screen and (min-width: 800px) {
    .comment-area {
        margin: 0px 10px;
    }
    .comment-area > div {
        padding: 10px 25px;
    }
}
@media only screen and (min-width: 1200px) {
    .comment-area {
        margin: 0px 50px;
    }
}

.smaller-font {
    font-size: 12px;
    font-weight: bold;
}

.link-style {
    display: inline-block;
    margin: 20px 10px;
    text-decoration: underline;
    color: darkgreen;
    cursor: pointer;
    transition: 0.7s;
}

p .link-style {
    margin-right: 0;
}

.link-style:hover {
    color: darkred;
}

.banMessage {
    color: darkred;
    font-weight: bold;
}

.comment-area {
    padding: 10px 0px;
}

.textarea-editing {
    width: 75%;
}

.for-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

textarea {
    resize: vertical;
    width: 100%;
    height: 150px;
    margin: 15px 0px 0px;
    outline: none;
    box-sizing: border-box;
    padding: 15px 25px;
    background-color: white;
    border-radius: 5px;
    border: none;
    color: rgb(64, 80, 100);
    font-weight: bold;
}

textarea:focus {
    border-bottom: 5px solid rgb(64, 80, 100);
}

textarea:placeholder-shown {
    font-style: italic;
    font-weight: normal;
}

.writer-actions {
    display: flex;
}

.actions {
    display: inline-flex;
}

.author-link {
    color: darkred;
    font-weight: bold;
    box-sizing: border-box;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: 0.7s;
}
  
.author-link:hover {
    border-color: darkred;
}
  
.edit, .delete, .update {
    display: flex;
    margin: 0px 10px;
    position: relative;
    cursor: pointer;
    transition: 0.7s;
}
  
.edit {
    color: rgb(64, 80, 100);
}

.edit:hover {
    color: rgb(68, 125, 200);
}
  
.delete {
    color: darkred;
}
  
.delete:hover {
    color: red;
}
  
.update {
    color: darkgreen;
}
  
.update:hover {
    color: rgb(0, 200, 0);
}

.desc-text {
    visibility: hidden;
    width: 80px;
    margin-left: -40px;
    background-color: rgba(64, 80, 100, 0.6);
    color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 2px 6px;
    box-sizing: border-box;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 180%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.7s;
}

.desc-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.edit:hover .desc-text, .delete:hover .desc-text, .update:hover .desc-text {
    visibility: visible;
    opacity: 1;
}

hr {
    margin: 0px;
}
  
.comment-submit, .comment-submit-valid, .comment-cancel {
    padding: 10px;
    font-size: 1em;
    width: 100px;
    border: 2px solid lightgray;
    border-radius: 5px;
    background: none;
    font-weight: bold;
    transition: 0.7s;
}
  
.comment-submit, .comment-submit-valid {
    margin-right: 10px;
}

.comment-submit {
    color: rgba(64, 80, 100, 0.4);
}

.comment-submit-valid {
    background-color: rgba(0, 80, 0, 0.4);
    color: white;
}
  
.comment-cancel {
    background-color: rgba(64, 80, 100, 0.4);
    color: white;
}

.comment-submit-valid:hover {
    border-color: rgb(0, 80, 0);
    color: rgb(0, 80, 0);
    cursor: pointer;
}
  
.comment-cancel:hover {
    border-color: rgb(64, 80, 100);
    color: rgb(64, 80, 100);
    cursor: pointer;
}